/** timer style */
.timer {
    display: block;
    background-color: #ccc;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    /* position just to the left of the slide */
    position: absolute;
    top: 0;
    left: -4rem;
}

.timer-66 {
    background-color: lightgreen;
}

.timer-33 {
    background-color: lightsalmon;
}

.timer-0 {
    background-color: lightcoral;
}
