.reveal-quizz-question h1 {
    font-size: larger;
}

.reveal-quizz-question form {
    display: flex;
    flex-flow: column wrap;
    flex-basis: auto;
}

.reveal-quizz-question form button {
    position: absolute;
    right: 0;
    bottom: -5rem;
    padding: 1rem;
    margin-right: 1rem;

    font-weight: inherit;
    font-size: var(--r-main-font-size);
}

.reveal-quizz-answer input {
    display: none;
    width: 100%;
}

.reveal-quizz-answer label {
    background: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    cursor: pointer;

    display: block;
    margin: 1rem;
}

.reveal-quizz-answer.correct label{
    background: lightgreen;
    border: 2px solid green;
}

.reveal-quizz-answer.incorrect label{
    background: indianred;
    border: 2px solid red;
}

.reveal-quizz-answer input:checked + label {
    border: 2px solid #766df4;
}
