@import "../node_modules/notie/dist/notie.min.css";

.reveal-quiz-question h1 {
    font-size: larger;
}

.reveal-quiz-question form {
    display: flex;
    flex-flow: column wrap;
    flex-basis: auto;
}

.reveal-quiz-question form button {
    position: absolute;
    right: 0;
    bottom: -5rem;
    padding: 1rem;
    margin-right: 1rem;

    font-weight: inherit;
    font-size: var(--r-main-font-size);
}

.reveal-quiz-answer input {
    display: none;
    width: 100%;
}

.reveal-quiz-answer label {
    background: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    cursor: pointer;

    display: block;
    margin: 1rem;
}

.reveal-quiz-answer.correct label{
    background: lightgreen;
    border: 2px solid green;
}

.reveal-quiz-answer.incorrect label{
    background: indianred;
    border: 2px solid red;
}

.reveal-quiz-answer input:checked + label {
    border: 2px solid #766df4;
}

/** admin controls */
.quiz-admin {
    display: flex;
}
.quiz-admin-controls {
    display: flex;
    flex-direction: column;
}
.quiz-admin > .reveal {
    border: solid 1px black;
}

/** timer style */
.timer {
    display: block;
    background-color: #ccc;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    /* position just to the left of the slide */
    position: absolute;
    top: 0;
    left: -4rem;
}
.timer-66{
    background-color: lightgreen;
}
.timer-33{
    background-color: lightsalmon;
}
.timer-0{
    background-color: lightcoral;
}